/* Reset css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Common */
html{
    font-family: Arial, Helvetica, sans-serif;
    /* font-size: 62.5%; */
    font-size: 150%;
}

.row{
    
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.col{
    float: left;
}

.col-half{
    width: 50%;
}

.col-third{
    width: 33.3333%;
}

.mt-4{
    margin-top: 4px;
}

.mt-8{
    margin-top: 8px;
}

.mt-16{
    margin-top: 16px;
}

.mt-32{
    margin-top: 32px;
}

h1,h2,h3{
    font-size: 16px;
    font-style: italic;
}

p, li{
    font-size: 14px;
}

.btn-left{
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-left:hover{
    color: #00ff7b;
}

/* Details */
.product-container {
    margin-top: 20px;
    padding: 0 50px;
}

.product-details .col li{
    list-style-type: none;
}

.col li {
    list-style-type: none;
}

.product-desc {
    color: #808080;
    padding: 4px 0 5px;
}

.product-left{
    padding-right: 20px;
}

.div-img{
    border: 1px #808080 solid;
    min-height: 460px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-img{
    max-width: 700px;
    width: 100%;
    background-size: contain;
    display: block;
}

.product-button{
    border-bottom: 1px #808080 solid;
    border-left: 1px #808080 solid;
    border-right: 1px #808080 solid;
    padding: 10px 0;
}

.product-button i{
    padding-left: 10px;
    font-size: 27px;
}

.product-button li{
    margin: auto;
}


.product-details li{
    margin-top: 8px;
}


/* Right */
.btn-right{
    display: block;
    color: #000;
    padding: 15px 20px;
    border-radius: 25px;
    text-align: center;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    width: 100%;
}

.product-right{
    border: 1px #808080 solid;
    padding: 16px;
}

.btn-buy{
    background-color: #00ff7b;
}

.btn-add-cart{
    background-color: #fff;
}

.btn-buy:hover{
    background: #00c863;
}

.btn-add-cart:hover{
    background: #f4f4f4;
}

.product-price{
    font-size: 20px;
    font-weight: 700;
}

.product-conditions{
    border: 1px #808080 solid;
    padding: 4px 0;
}

.product-conditions li{
    margin-top: 4px;

}

.product-conditions li i{
    padding:0 4px;
}