:root {
  --primary-color: #ccc;
  --secondary-color: rgb(255, 255, 255);
  --text-color: #000;
  --nonary-color: #0b6508d8;
  --denary-color: #f33;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--primary-color);
}

main {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px;
  height: 100%;
  background-color: var(--primary-color);
}
/* ---------------------------------------------------Begin: San pham------------------------------------*/
.table-outline {
  width: 100%;
  border: 1px solid #23282c;
}

/* phần chứa header (th) */
.table-header {
  width: 100%;
  background-color: #000;
  color: var(--text-color);
  border-spacing: 0;
}

.table-header th {
  color: var(--text-color);
  background-color: #f2f2f2;
  border-color: #23282c;
}

.table-header th {
  cursor: pointer;
}

.table-header th i {
  /* Ẩn icon sort */
  transform: scale(0);
  transition-duration: 0.2s;
}

.table-header th:hover i {
  transform: scale(1);
}

.table-header th,
.table-content td {
  padding: 0.75rem;
  text-align: center;
  vertical-align: top;
  border-top: 1px solid #23282c;
}
/* phần chứa nội dung  */
/* .table-content {
  min-height: 200px;
  max-height: 550px;
  overflow: auto;
  margin: 0 auto;
  width: 100%;
} */

.table-header tbody td {
  padding: 12px;
}

.table-header tbody tr:nth-child(odd) {
  background-color: #e6e6e6; /* Màu cho hàng lẻ */
}

.table-header tbody tr:nth-child(even) {
  background-color: #f2f2f2; /* Màu cho hàng chẵn */
}

.table-header tbody td:last-child {
  text-align: center;
}

.table-header tbody td div {
  display: inline;
}

.table-content tr:nth-of-type(even) {
  background-color: #3e4144;
}

.table-content td {
  position: relative;
  color: var(--text-color);
}

/* Link chi tiet san pham */
.table-content td a {
  display: block;
  color: #fff;
}

.table-content td a:hover {
  text-decoration: underline;
}

/* Hành động */
.table-content td i {
  padding: 0.3em;
  cursor: pointer;
}

.table-content td i.fa-wrench:hover {
  color: #63c2de;
}

.table-content td i.fa-trash:hover {
  color: #f86c6b;
}

.table-content td i.fa-check:hover {
  color: #5ce457d8;
}

.table-content td i.fa-remove:hover {
  color: #f86c6b;
}

/*  phần footer table  */
.table-footer {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #23282c;
}

.table-footer input,
.table-footer button,
.table-footer select {
  padding: 5px 10px;
  border: 3px solid transparent;
  background-color: #cccece;
}

/* Nút bấm ở footer */
.table-footer button {
  cursor: pointer;
  background-color: #23282c;
  color: #e4e7ea;
  transition-duration: 0.2s;
}

.table-footer button:hover {
  background-color: #7a879486;
  border-color: #73818f;
}

/* ================== Những table thêm sửa sẽ có dạng overlay -> mặc định ẩn  ====================== */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  z-index: 14;
  transition: 0.2s ease;
  transform: scale(0);
  background-color: #020202d8;
}

.overlayTable {
  margin: 50px auto;
  width: auto;
  background-color: #23282c;
}

.overlayTable td:first-child {
  text-align: right;
}

.overlayTable input {
  padding: 4px 10px;
  border: none;
  border-radius: 5px;
  background-color: #aaa;
}

.overlayTable input[type="file"] {
  background-color: transparent;
}

.close {
  /* nút tắt form */
  position: fixed;
  top: 5px;
  right: 5px;
  font-size: 3rem;
  width: 1em;
  height: 1em;
  line-height: 1em;
  text-align: center;
  color: #aaa;
  cursor: pointer;
  transition: 0.2s ease;
}

.close:hover {
  color: #fff;
  background-color: #f33;
  border-radius: 50%;
}
/* -----------------------------------------------End: San pham */
/* -----------------------------------------------Begin: Thong ke------------------------------------------------ */
.frame__container {
  padding: 24px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 1px -1px,
    rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
  display: flex;
  flex-direction: column;
  background-color: var(--secondary-color);
  height: 100%;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 10px;
}
.frame__title {
  margin: 0px 0px 5px;
  font-size: 1.5rem;
  font-weight: 600;
  font-family: Inter, sans-serif;
  line-height: 1.235;
  color: var(--text-color);
}
.frame__desc {
  margin: 0px 0px 24px;
  font-size: 1rem;
  font-weight: 600;
  font-family: Inter, sans-serif;
  line-height: 1.57;
  color: rgb(160, 160, 160);
}

.frame__content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
}

.statistic .statistic__container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 20px;
  border-radius: 16px;
  height: 100%;
  background-color: var(--primary-color);
  box-shadow: 3px 5px 8px 0px;
}
.statistic i {
  color: var(--text-color);
  font-size: 30px;
  width: 26px;
  height: 26px;
}
.statistic .statistic-bot__price {
  margin: 0px 0px 16px;
  font-size: 1.5rem;
  font-weight: 600;
  font-family: Inter, sans-serif;
  line-height: 1.235;
  color: var(--text-color);
}

.statistic .statistic-bot__name {
  margin: 0px 0px 8px;
  font-size: 1rem;
  font-weight: 500;
  font-family: Inter, sans-serif;
  line-height: 1.5;
  color: var(--text-color);
}
.statistic .statistic-bot__compare {
  margin: 0px;
  font-size: 0.75rem;
  font-weight: 500;
  font-family: Inter, sans-serif;
  color: var(--text-color);
  line-height: 1.25;
}

/* Màu cho số liệu tăng giảm */
.statistic--increase .statistic-bot__compare,
.statistic--increase i {
  color: var(--nonary-color);
}

.statistic--decrease .statistic-bot__compare,
.statistic--decrease i {
  color: var(--denary-color);
}
/*-------------------------------------------------- End: THong ke --------------------------------------*/
