/* Public */
.clear {
    clear: both;
}

.style-none {
    list-style-type: none;
}

:root {
    --main-btn-bg-color: #52b788;
    --main-text-color: #080808;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

section#nav {
    padding: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1) !important;
}

a,
a:hover {
    text-decoration: none;
}

/* Private */

#cart {
    padding: 0 160px;
}

.cart-info .selected-count {
    color: var(--main-text-color);
}

.cart-info .selected-count>span {
    font-size: 18px;
    font-weight: 400;
}

.cart-info .subtotal label {
    font-size: 24px;
    font-weight: 500;
}

.cart-info .continue-with-purchase>a {
    padding: 10px 52px;
    font-size: 18px;
    font-weight: 500;
}

/* List Control */
#cart .list-control .select-all,
#cart .list-control .delete-all {
    font-size: 16px;
}

#cart .list-control .select-all>input {
    cursor: pointer;
}

#cart .list-control .continue-buy > a {
    font-size: 16px;
}

#cart .list-control .continue-buy  {
    margin-right: 64px;
}



/* Cart-Item-List */
#cart-item-list {
    /* padding: 0 120px; */
}

#cart-item-list dl {
    font-size: 16px;
    line-height: 16px;
}

#cart-item-list .cart-item {
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    margin: 20px 0;
}

#cart-item-list .cart-item:hover {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
}

#cart-item-list .cart-item .purchaseable {
    padding-top: 24px;
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: -12px;
}

#cart-item-list .cart-item .thumbnail {
    min-height: 55px;
    width: 210px;
    position: relative;
}

#cart-item-list .cart-item .thumbnail img:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}

#cart-item-list .cart-item .product {
    max-width: 70%;
    float: left;
}

#cart-item-list .cart-item .product .details dl {
    padding-left: 155px;
}

#cart-item-list .cart-item .product .details dl dd {
    margin-left: 0;
}

#cart-item-list .cart-item .product .details dl dt {
    margin-left: -155px;
    margin-top: 0;
    width: 155px;
}



#cart-item-list .cart-item .details {
    margin-top: -8px;
    margin-left: 20px;
}

/* Price */
#cart-item-list .cart-item .price {
    margin-top: -16px;
}

#cart-item-list .cart-item .price {
    margin-top: -16px;
    display: inline-block;
}

#cart-item-list .cart-item .price ul {
    list-style-type: none;
}

#cart-item-list .cart-item .price .final-price {
    font-weight: 500;
    font-size: 20px;
}

#cart-item-list .cart-item .price .select-for-checkout {
    height: 96px;
    max-height: 96px;
    margin-left: 28px
}

#cart-item-list .cart-item .price .remove-from-cart {
    font-size: 12px;
    margin-left: 63px;
    margin-top: -8px;
}

#cart-item-list .cart-item .product .size-content ul {
    margin: 0;
}

#cart-item-list .cart-item .product .size-content ul.style-none li:first-child {
    margin-bottom: .5rem;
}

#selected-for-checkout {
    cursor: pointer;
}