:root {
    --color-interactive-secondary-hover: #191919;
    --color-content-inverse: #fff;
    --chunkiness-thick: 2px;
    --chunkiness-thin: 1px;
    --color-content-secondary: #707070;
    --color-surface-primary: #fff;
    --color-content-primary: #191919;
    --color-surface-into-default: #f0f1ff;
    --color-content-disabled: #949494;
    --color-content-interactive-primary: #9cee69;
    --color-content-interactive-primary-hover: #6cc832;

    --color-content-interactive: #1a4200;
    --transition-duration-short: 150ms;
    --transition-easing-ease-in-out: cubic-bezier(0.42,0.58,1);

}   


a:hover {
    text-decoration: none;   
}

.dp-b {
    display: block;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.dp-ib {
    display: inline-block;
}

.w-100 {
    width: 100%;
}



.dp-flex {
    display: flex;
}


.stl-none {
    list-style-type: none;
}

#change-password {
    margin: 0 120px;
}


#change-password .change-password-container {
    padding: 40px;
}

/* Navigation */


#account-menu-container {

}
/* Avatar */
#account-menu-container .profile-image > img {
    max-width: 70px;
    border-radius: 50%;
    cursor: pointer;
}



/* Navigate link */
#account-menu-container .menu-link li > a {
    color: #191919;
    font-size: 16px;
}

#account-menu-container .menu-link li > a:hover {
    color: var(--color-content-interactive-primary-hover);
}



#account-menu-container .menu-link .change-password a {
    color: var(--color-content-interactive-primary-hover);
}


/* Content */
#change-password .change-pw-header {
    border-bottom: 1px solid #ced4da;
}

#change-password .change-pw-header .title-change-pw {
    font-size: 20px;
    font-weight: 500;
}

#change-password .change-pw-header .pw-security-description {
    font-size: 16px;
    font-weight: 400;
    color: var(--color-content-secondary);
}

#change-password .password-form {
    max-width: 500px;
}

#change-password .password-form label  {
    font-size: 15px;
    font-weight: 400;
    padding-right: 0;
}





#change-password .password-form .btn-change-pw {
    color: #fff;
    background-color: #469118;
}

#change-password .password-form .btn-change-pw:hover {
    background-color: #469118;
    opacity: 0.9;
}
