/* Chung */
:root {
    --color-interactive-secondary-hover: #191919;
    --color-content-inverse: #fff;
    --chunkiness-thick: 2px;
    --chunkiness-thin: 1px;
    --color-content-secondary: #707070;
    --color-surface-primary: #fff;
    --color-content-primary: #191919;
    --color-surface-into-default: #f0f1ff;
    --color-content-disabled: #949494;
    --color-content-interactive-primary: #9cee69;
    --color-content-interactive-primary-hover: #6cc832;
    --color-content-interactive: #1a4200;
    --transition-duration-short: 150ms;
    --transition-easing-ease-in-out: cubic-bezier(0.42,0.58,1);


    --secondary-text-color: rgb(109, 115, 120);

}   

.shadow-bottom {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Chỉ có bóng ở dưới */
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;   
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.dp-ib {
    display: inline-block;
}

.w-100 {
    width: 100%;
}

.mr-12 {
    margin-right: 12px;
}

.mt-24 {
    margin-top: 24px;
}

.dp-flex {
    display: flex;
}

.stl-none {
    list-style-type: none;
}

/* Riêng */

/* Navbar-side */

/* Avatar */

#navbar-side .profile-image-container {
    filter: drop-shadow(rgba(0, 0, 0, 0.16) 0px 4px 12px) drop-shadow(rgba(0, 0, 0, 0.08) 0px 0px 4px);
}

#navbar-side .profile-avatar-content {
    height: 200px;
    background-color: rgba(248, 243, 243, 0.788);

}





#navbar-side .profile-avatar-content img {
    max-width: 70px;
    max-height: 70px;
    border: 2.5px solid #fff;
}

#navbar-side .profile-avatar-content .profile-name {
    font-size: 20px;
    font-weight: 600;
}

#navbar-side .profile-image-container {
    position: relative;
    cursor: pointer;
}

#navbar-side .profile-image-container > i {
    position: absolute;
    right: -16px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    color: white;
    border-radius: 50%;
    width: 34px;
    height: 34px;
    font-size: 20px;
}   


/* Link navigate */
#navbar-side .menu-link {
    padding: 0;
}

#navbar-side .menu-link li {
    width: 100%;
    height: 64px;  
}

#navbar-side .menu-link li:hover {
   background-color: #303030;
   cursor: pointer;
}

.menu-link li:hover a {
    color: #fff;
}


.menu-link li a {
    font-size: 16px;
    color: #000;
}

.menu-link li a:hover {
    text-decoration: none;
}

.menu-link li    i {
    font-size: 28px;
    margin-right: 8px;
}

/* Main content */
#main-content {
    padding: 48px 48px 24px;
}


/* Heading */
#main-content .heading-content h5 {
    color: var(--secondary-text-color);
    font-size: 20px;
}





/* Các ô thống kê */
#main-content .show-statistic .download,
#main-content .show-statistic .earning,
#main-content .show-statistic .available-earning {
    border: 1px solid rgb(238, 239, 242);
    box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 6px 0px;
}



#main-content .show-statistic .download .download-image i,
#main-content .show-statistic .earning .earning-image i,
#main-content .show-statistic .available-earning .available-earning-image i{
    padding: 14px;
    font-size: 20px;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 6px 0px;
    border-radius: 50%;
}

#main-content .show-statistic .download .download-text-content .download-text,
#main-content .show-statistic .earning .earning-text-content .earning-text,
#main-content .show-statistic .available-earning .available-earning-text-content .available-earning-text
 {
    color: var(--secondary-text-color);
}

#main-content .show-statistic .download .download-text-content .download-count,
#main-content .show-statistic .earning .earning-text-content .earning-total,
#main-content .show-statistic .available-earning .available-earning-text-content .available-earning-total {
    font-size: 20px;

}


#main-content .show-statistic .available-earning .request-payout > button {
    border: none;
    border-radius: 8px;
    color: #fff;
    font-weight: 600;
}











