:root {
    --primary-color: #009970;
    --primary-hover-color: #00b383;
    --text-color: #666777;
    --text-hover-color: #000;
    --footer-bg-color: #f9f9f9;
    --footer-link-color: #333;
    --input-border-color: #ccc;
    --button-hover-color: #4a84d9;
    --footer-border-color: #e0e0e0;
    --footer-text-color: #777;
    --social-bg-color: #6c757d;
    --gradient-color: rgba(0,255,85,1);
}

/* navbar */

#nav {
    height: 60px;
}

.login-button {
    background-color: var(--primary-color);
    color: #fff;
    padding: 8px 20px;
    border-radius: 50px;
    text-decoration: none;
    transition: .3s background-color;
}

.login-button:hover {
    background-color: var(--primary-hover-color);
}

a.cart i {
    font-size: 20px;
    color: var(--text-color);
}

a.sell {
    font-size: 15px;
    color: var(--text-color);
    text-decoration: none;
    font-weight: 500;
    padding-right: 5px;
}

a.sell:hover,
a.cart i:hover {
    color: var(--primary-color);
}

.line-separate {
    width: 1px;
    height: 15px;
    background-color: var(--text-color);
}

.title-logo {
    font-size: 20px;
    font-weight: 700;
}

button.navbar-toggler {
    border: none;
    font-size: 1.25rem;
}

button.navbar-toggler:focus,
button.btn-close:focus {
    box-shadow: none;
    outline: none;
}

a.nav-link {
    color: var(--text-color);
    font-weight: 500;
    font-size: 15px;
    position: relative;
}

a.nav-link:hover,
.nav-link.active {
    color: var(--text-hover-color);
}

div#offcanvasDarkNavbar.offcanvas.offcanvas-end.show .sell {
    position: absolute !important;
    left: 3%;
    top: 30%;
    color: var(--primary-color);
    text-transform: uppercase;
    font-weight: 700;
}

div#offcanvasDarkNavbar.offcanvas.offcanvas-end.show .line-separate {
    display: none;
}

div#offcanvasDarkNavbar.offcanvas.offcanvas-end.show .cart {
    position: absolute !important;
    top: 3%;
    left: 50%;
}

@media (min-width: 990px) {
    .nav-link::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 3px;
        background-color: var(--primary-color);
        visibility: hidden;
        transition: .3s ease-in-out;
    }

    a.nav-link:hover::before,
    .nav-link.active::before {
        width: 100%;
        visibility: visible;
    }
}

/* footer */
.footer {
    background-color: var(--footer-bg-color);
    padding: 40px 20px;
    font-family: 'Arial', sans-serif;
}

.container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.footer-column {
    flex: 1;
    min-width: 150px;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 10px;
}

.footer-column ul li a {
    text-decoration: none;
    color: #333;
    font-size: 14px;
}

.footer-column ul li a:hover {
    /* border-bottom: 1px solid #000; */
    padding-left: 10px;
    transition: .5s ease-in-out;
}

.newsletter-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.newsletter-form input[type="email"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.newsletter-form button {
    background: #00b383;
    background: linear-gradient(36deg, #00b383 0%, rgba(0,255,85,1) 100%);
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.newsletter-form button:hover {
    letter-spacing: 2px;
    transition: .5s ease-in-out;
}

.footer-bottom {
    margin-top: 20px;
    border-top: 1px solid #e0e0e0;
    padding-top: 10px;
    text-align: center;
    font-size: 12px;
    color: #777;
}

.social-icons a {
    font-size: 25px;
    background: #6c757d;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: color 0.3s;
    border-radius: 50%;
}

.social-icons a i {
    color: white;
    padding-top: 3px;
}

.social-icons a:hover {
    background: transparent;
    border: 1px solid var(--social-bg-color);
    transition: .1s ease-in-out;
}

.social-icons a:hover i {
    color: black;
    padding-top: 3px;
}