/* Reset css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #00ff7b;
  --secondary-color: #000;
  --border-color: #ccc;
}

/* Common */
html {
  font-family: Arial, Helvetica, sans-serif;
  /* font-size: 62.5%; */
  font-size: 150%;
}

.row {
}

.row::after {
  content: "";
  display: block;
  clear: both;
}

.col {
  float: left;
}

.col-full {
  width: 100%;
}

.col-half {
  width: 50%;
}

.col-third {
  width: 33.3333%;
}

.mt-4 {
  margin-top: 4px;
}

.mt-8 {
  margin-top: 8px;
}

.mt-16 {
  margin-top: 16px;
}

.mt-32 {
  margin-top: 32px;
}

h1,
h2,
h3 {
  font-size: 16px;
}

p,
li {
  font-size: 14px;
}

/* Common */
.product-container {
  margin-top: 20px;
  margin-bottom: 50px;
  padding: 0 50px;
}

.product-details .col li {
  list-style-type: none;
}

.product-desc {
  color: var(--border-color);
  padding: 4px 0 5px;
}

.col li {
  list-style-type: none;
}

/* LEFT */
.div-img {
  border: 1px var(--border-color) solid;
  min-height: 460px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ccc;
  position: relative;
}

.product-img {
  max-width: 700px;
  width: 100%;
  background-size: contain;
  display: block;
}

.btn-enlarge {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background: rgb(255, 255, 255);
  color: #000;
  padding: 8px 10px;
  cursor: pointer;
  border-radius: 20px;
  opacity: 0.7;
}

.btn-enlarge:hover {
  opacity: 1;
}

/* BEGIN modals */
#modal-image {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  align-items: center;
  justify-content: center;
  display: none;
  z-index: 30;
  width: 100%;
  height: 100%;
  padding: 50px;
}

#modal-image .modal-container {
  background: #fff;
  position: relative;
  width: 100%;
  max-width: 1000px;
  /* Tạo animation xuất hiện cho tp trong 0.3 giây */
  transition-duration: 0.3s;
}

#modal-image .btn-close {
  position: absolute;
  top: -14px;
  right: -14px;
  color: #eee;
  background: #aaa;
  cursor: pointer;
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  width: 28px;
  height: 28px;
}

#modal-image .btn-close:hover {
  color: #fff;
  background: #000;
}

#modal-image img {
  width: 100%;
  /* Fix khoảng trắng nằm dưới img khiến cho nó không khớp với div */
  display: block;
}
/* END modal */

.product-button {
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn-left {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
}

.product-button button {
  background-color: #eee;
  color: #000;
  padding: 10px 10px;
  border-radius: 25px;
  text-align: center;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}

.product-button button:hover {
  color: #fff;
  background: #000;
}

.product i {
  padding-left: 10px;
}

.product-left {
  padding-right: 20px;
}

.product-details li {
  margin-top: 8px;
  display: flex;
  flex-direction: row;
}

.product-details strong {
  width: 30%;
  font-weight: 400;
}

.product-details p {
  width: 70%;
}
/* END LEFT */

/* Right */
.btn-right {
  display: block;
  color: #000;
  padding: 15px 20px;
  border-radius: 25px;
  text-align: center;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  width: 100%;
}

.product-right {
  border: 1px var(--border-color) solid;
  padding: 16px;
}

.btn-buy {
  background-color: #00ff7b;
}

.btn-add-cart {
  background-color: #fff;
}

.btn-buy:hover {
  background: #00c863;
}

.btn-add-cart:hover {
  background: #f4f4f4;
}

.product-price {
  font-size: 20px;
  font-weight: 700;
}

.product-conditions {
  border: 1px var(--border-color) solid;
  padding: 4px 0;
}

.product-conditions li {
  margin-top: 4px;
}

.product-conditions li:first-child {
  border-bottom: 1px var(--border-color) solid;
}

.condition {
  position: relative;
  text-decoration: none;
  width: 100%;
  justify-content: flex-start;
  text-align: left;
  display: flex;
  flex-direction: column;
  padding: 16px 16px 16px 8px;
  -webkit-box-align: start;
  align-items: start;
}

.condition > div {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.condition div input[type="radio"] {
  margin-right: 10px;
  transform: scale(1.2);
  cursor: pointer;
}

.condition div span {
  padding: 5px;
}

.condition div label {
  font-weight: 600;
  font-size: 14px;
}

.condition div p {
  margin-top: 8px;
}

/* Begin: Categories tương tự */
.categories-container {
  margin-top: 20px;
  padding: 0 50px;
  margin-bottom: 100px;
}

.container-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-title p {
  font-size: 16px;
  font-weight: 700;
}

.categories-image {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}

.image {
  overflow: hidden;
  border-radius: 8px;
  position: relative;
}

.image img {
  object-fit: cover;
  width: 100%;
  border-radius: 8px;
  aspect-ratio: 1.4 / 1;
  display: block;
}

.image:hover img {
  transform: scale(1.1);
  transition: transform 0.5s;
  cursor: pointer;
}

.image .btn-in-image {
  position: absolute;
  bottom: 5px;
  right: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}

.image .btn-in-image button {
  border: none;
  padding: 15px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
  color: #fff;
}

.image .btn-in-image button:hover {
  background-color: #fff;
  color: #000;
}
/* End: Categories tương tự */
