:root {
  --primary-color: #009970;
  --primary-hover-color: #00b383;
  --text-color: #666777;
  --text-hover-color: #000;
  --footer-bg-color: #f9f9f9;
  --footer-link-color: #333;
  --input-border-color: #ccc;
  --button-hover-color: #4a84d9;
  --footer-border-color: #e0e0e0;
  --footer-text-color: #777;
  --line-seperate: #e0e0e0;

  --swatch_1: #f0f4f9;
  --swatch_2: #b5d2e1;
  --swatch_3: #a2a9b6;
  --swatch_4: #03d1a8;
  --swatch_5: #3f4759;
  --swatch_6: #49bbae;
  --swatch_7: #696dbf;
}

/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
}

.container {
  margin: 30px auto;
  width: 100%;
  max-width: 1000px;
  padding: 20px;
  text-align: center;
}

/* Begin: Nav */
.nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  position: relative;
  padding: 0;
}

.nav-list:before {
  content: "";
  position: absolute;
  top: 0;
  height: 2px;
  transition: width 2s !important;
  left: 150px;
  z-index: 1;
  width: 0;
}

/* Đổi màu thanh tiến trình */
.nav-list.mid::before {
  background-color: var(--primary-color);
  width: calc(50% - 150px);
}

.nav-list.last::before {
  background-color: var(--primary-color);
  width: calc(68%);
}

.nav-list::after {
  content: "";
  position: absolute;
  top: 0;
  left: 150px;
  right: 150px;
  height: 2px;
  background: #e3e9ed;
  z-index: 0;
}

.nav-list li {
  flex: 1;
  text-align: center;
  position: relative;
}

.nav-list li::before {
  content: attr(data-step);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
  border: 2px solid #e3e9ed;
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  font-size: 14px;
  color: #333;
  font-weight: bold;
}

.nav-list li.complete::before {
  background-color: var(--primary-color);
}
/* Đổi màu step */
.nav-list li.active::before {
  border-color: var(--primary-color);
  color: var(--primary-color);
}

.nav-list li p {
  margin-top: 30px;
  font-size: 14px;
  color: #666;
}

.nav-list li.active p {
  color: var(--primary-color);
  font-weight: bold;
}
/* End: Nav */

/* Begin: Content */
.content-frame {
  width: 100%;
  max-width: 1000px;
  margin: 20px auto;
  border: 1px solid #e3e9ed;
  border-radius: 8px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.content {
  max-height: 500px; /* Chiều cao tối đa cho khung */
  overflow-y: auto; /* Cuộn theo chiều dọc */
  padding-right: 10px; /* Khoảng cách giữa nội dung và thanh cuộn */
  text-align: left;
  line-height: 1.6;
}

.content p {
  font-size: 16px;
  color: #666;
  margin-bottom: 5px;
}

.content h2 {
  font-size: 24px;
  font-weight: 600;
  color: #333;
  margin-bottom: 20px;
}

.content h3 {
  font-size: 18px;
  font-weight: 550;
  color: #000;
  margin-top: 12px;
  margin-bottom: 4px;
}

.content::-webkit-scrollbar {
  width: 10px;
}

.content::-webkit-scrollbar-thumb {
  background-color: var(--primary-color); /* Màu thanh cuộn */
  border-radius: 4px;
}

.content::-webkit-scrollbar-track {
  background-color: #e3e9ed; /* Nền của thanh cuộn */
}

.btn-upload,
.btn-save,
.btn-agree {
  display: block;
  margin: 20px auto 0;
  padding: 10px 20px;
  background-color: var(--primary-color);
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
}

.btn-agree i {
  margin-right: 8px; /* Khoảng cách giữa icon và chữ */
}

.btn-upload:hover,
.btn-save:hover,
.btn-agree:hover {
  background-color: var(--primary-hover-color); /* Màu nền khi hover */
}
/* End: Content */

.info-user {
  display: none;
}

.welcome-frame {
  display: none;
}

.welcome-frame .content {
  margin-bottom: 20px;
  text-align: center;
}
