.frame-signup {
  min-height: 600px;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(247, 248, 250);
  flex: 1;
}
.signup-container {
  word-break: break-word;
  padding: 24px;
  width: 70vw;
  max-width: 448px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(238, 239, 242);
}

.btn {
  width: 100%;
  margin-top: 10px;
  color: #fff;
  border-radius: 28px;
  font-size: 16px;
  line-height: 30px;
  font-weight: bold;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.btn i {
  position: absolute;
  left: 25px;
  font-size: 20px;
}

.btn:hover {
  opacity: 0.8;
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: #fb7d7d;
}

.btn-signup {
  background-color: #00ff7b;
}

.btn-google {
  background-color: #fff;
  border: 1px solid #626161;
  color: #676767;
}

.btn-facebook {
  background-color: #2e41d0;
}

.btn-apple {
  background-color: #000;
}

.content {
  display: flex;
  flex-direction: row;
}

.image-about img {
  width: 50vw;
  height: 100vh;
  object-fit: cover;
}
