:root {
  --primary-color: #009970;
  --primary-hover-color: #00b383;
  --text-color: #666777;
  --text-hover-color: #000;
  --footer-bg-color: #f9f9f9;
  --footer-link-color: #333;
  --input-border-color: #ccc;
  --button-hover-color: #4a84d9;
  --footer-border-color: #e0e0e0;
  --footer-text-color: #777;
  --line-seperate: #e0e0e0;
}

/* Global styles for the custom slider */
::-webkit-scrollbar {
  width: 1.3rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background: #797979;
  transition: all 0.5s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background: #222224;
}

::-webkit-scrollbar-track {
  background: #f9f9f9;
}

/* Section-specific styles */
#tranding {
  padding: 4rem 0;
}

#trading .tranding-container {
  margin-top: 50px;
}

#tranding .custom-text-center {
  text-align: center;
}

#tranding .section-heading {
  font-size: 3rem;
  color: var(--custom-primary);
  padding: 2rem 0;
}

#tranding .tranding-slide {
  width: 22rem;
  height: 20rem;
  position: relative;
}

#tranding .tranding-slide-img img {
  width: 20rem;
  height: 15rem;
  border-radius: 5px;
  object-fit: cover;
}

#tranding .tranding-slider-control .swiper-pagination .swiper-pagination-bullet-active {
  background: var(--custom-primary);
}
