:root {
  --primary-color: #009970;
  --primary-hover-color: #00b383;
  --text-color: #666777;
  --text-hover-color: #000;
  --footer-bg-color: #f9f9f9;
  --footer-link-color: #333;
  --input-border-color: #ccc;
  --button-hover-color: #4a84d9;
  --footer-border-color: #e0e0e0;
  --footer-text-color: #777;
  --line-seperate: #e0e0e0;
}

/* Global styles for the custom slider */
::-webkit-scrollbar {
  width: 1.3rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background: #797979;
  transition: all 0.5s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background: #222224;
}

::-webkit-scrollbar-track {
  background: #f9f9f9;
}

/* Section-specific styles */
#tranding {
  padding: 4rem 0 0;
}

#trading .tranding-container {
  margin-top: 50px;
}

#tranding .custom-text-center {
  text-align: center;
}

#tranding .section-heading {
  font-size: 3rem;
  color: var(--custom-primary);
  padding: 2rem 0;
}

#tranding .tranding-slide {
  width: 22rem;
  height: 20rem;
  position: relative;
}

#tranding .tranding-slide-img {
  width: 20rem;
  height: 15rem;
  border-radius: 5px;
  overflow: hidden; 
  position: relative; 
}

#tranding .tranding-slide-img img {
  width: 100%; 
  height: 100%;
  object-fit: cover; 
  transition: transform 0.2s linear; 
}

#tranding .tranding-slide-img:hover img {
  transform: scale(1.2); 
}
#tranding .tranding-slider-control .swiper-pagination .swiper-pagination-bullet-active {
  background: var(--custom-primary);
}

.banner {
  background-image: url(../images/ai/Scenery/image_02.png) !important;
}
/* trend-type */
.trend-type .trending-section {
  text-align: center;
  padding: 20px;
  background-color: white;
}

.trend-type .title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  padding-left: 30px;
}

.trend-type .subtitle {
  color: #555;
  margin-bottom: 20px;
  font-size: 16px;
  padding-left: 30px;
}

.trend-type .trending-items {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.trend-type .item {
  text-align: center;
  width: 300px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  /* transition: transform 0.3s ease, box-shadow 0.3s ease;  */
}

.trend-type .item:hover {
  cursor: pointer;
  filter: brightness(92%);
  /* transform: translateY(-10px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); */
}

.trend-type .item img {
  width: 100%;
  height: 430px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.trend-type .item-title {
  margin-top: 10px;
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

.trend-type .image-layout {
  display: flex;
  gap: 5px;
  background: white;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.trend-type .column {
  display: flex;
  flex-direction: column;
  gap: 5px;
  flex: 1; /* Chia đều không gian giữa các cột */
}

.trend-type .column img {
  width: 100%;
  height: 50%; /* Mỗi ảnh chiếm 50% chiều cao cột */
  border-radius: 5px;
  object-fit: cover;
  aspect-ratio: 1 / 1;
}

.trend-type .left {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.trend-type .right img {
  height: 100%; 
  aspect-ratio: 2 / 1;
}

.info-why .title {
  margin-top: 30px;
}

.info-why .contain {
  display: flex;
  justify-content: space-between; 
  gap: 20px; 
  padding: 20px;
  margin: 0 20px;
  user-select: none;
}

.info-why .box {
  flex: 1; 
  text-align: center;
  background: white;
  border-radius: 10px;
  /* transition: transform 0.3s ease, box-shadow 0.3s ease;  */
}

/* 
.info-why .box:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
} */

.info-why .box img {
  width: 100%; 
  height: 400px; 
  border-top-left-radius: 10px; 
  border-top-right-radius: 10px; 
  object-fit: cover; 
  margin-bottom: 15px; 
}

.info-why .content {
  text-align: left;
  margin-left: 10px;
}

.info-why .content h3 {
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: 600;
  color: var(--primary-color);
}

.info-why .content p {
  font-size: 15px;
  color: #555;
  line-height: 1.6;
}
