<!doctype html>
<html lang="en">

<head>
  <title>Cart</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="../assets/css/homepage.css">
    <link rel="stylesheet" href="../assets/css/navbar-footer.css">
    <link rel="stylesheet" href="../assets/css/homeuser.css">
  <link rel="stylesheet" href="../assets/css/cart.css">

  <link rel="stylesheet" href="../assets/libraries/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="../assets/libraries/fontawesome-free-6.6.0-web/css/all.min.css">
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
</head>

<body>

  <!--section navbar -->
  <section id="nav">
    <div class="container">
      <nav class="navbar navbar-expand-lg w-100">
        <div class="container-fluid">
          <a class="navbar-brand me-auto" href="homepage.html">
            <span class="title-logo fw-bold"><span class="text-success">C</span>o<span
                class="text-success">R</span>iPhoto</span>
          </a>

          <div class="d-flex align-items-center pt-1">
            <div class="sell">
              <a href="#" class="sell mx-lg-2">Sell<i class="fa-solid fa-angle-down px-2"></i></a>
              <div class="link-hover">
                <a href="#">Đăng ký thành người phân phối</a>
              </div>
            </div>
            <div class="line-separate mx-lg-1"></div>
            <a href="#" class="love"><i class="fa-regular fa-heart"></i></a>
            <a href="./pages/cart.html" class="cart"><i class="fa-solid fa-cart-shopping"></i></a>
          </div>
          <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar"
            aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="d-flex align-items-center user-icon" id="user">
            <img class="avatar position-relative" src="../assets/images/avart-default.png" />
            <i class="fa fa-caret-down ms-2"></i>
          </div>
        </div>
      </nav>
    </div>
  </section>
  <!--section navbar -->

  <div id="cart">
    <div class="container d-flex flex-column">
      <!-- Header Cart -->
      <div class="cart-header w-100">
        <h1>Giỏ hàng</h1>
        <!-- Cart info -->
        <div class="cart-info mb-4">
          <div class="mt-n12 d-flex justify-content-between align-items-center">
            <div class="selected-count fw-bold">
              <span>Số lượng sản phẩm đang chọn: <span class="ng-binding">3</span></span>
            </div>
            <div class="subtotal text-right fw-bold">
              <label for="">Tổng cộng: 924.000đ</label>
            </div>
          </div>
          <div class="continue-with-purchase text-right mt-2">
            <a href="checkout.html" class="btn btn-success shadow-sm">Tiếp tục mua</a>
          </div>
        </div>

        <!-- List control -->
        <div class="list-control">
          <div class="d-flex justify-content-between align-items-center mb-3">
            <div class="sort-by">
              <select class="form-control custom-select" name="" id="">
                <option selected="selected" label="Ngày thêm vào">Ngày thêm vào giỏ hàng</option>
                <option selected="selected" label="Giá sản phẩm">Giá sản phẩm</option>
              </select>
            </div>
            <div class="promo-code d-flex align-items-center"> <!-- Flexbox cho căn giữa -->
              <input type="text" class="form-control mr-2" placeholder="Mã khuyến mãi" style="width: 200px;">
              <button class="btn btn-primary shadow-sm" type="button">Áp dụng</button>
            </div>
          </div>
        </div>
      </div>
      <!-- End Header Cart 
      #cart-item-list
        .cart-item
          .purchaseable
            .cart-item-container
              figure(.thumbnail)
              .product
              .price  
      -->
      <div id="cart-item-list">
        <div class="cart-item">
          <div class="purchaseable">
            <div class="cart-item-container d-flex">
              <figure class="thumbnail">
                <a href="">
                  <div class="asset-wrapper">
                    <img class="img-fluid" src="../assets/images/Food/001.jpg" alt="">
                  </div>
                </a>
              </figure>
              <div class="product flex-grow-1">
                <section class="details">
                  <dl class="mb-3">
                    <div class="d-flex align-items-start">
                      <dt class="font-weight-normal">Loại hình ảnh:</dt>
                      <dd>Sáng tạo
                        <span class="separator"> | </span>
                        <a href="">Link tới ảnh</a>
                      </dd>
                    </div>
                    <div class="d-flex align-items-start">
                      <dt class="font-weight-normal">Kích thước:</dt>
                      <dd class="size-content">
                        <ul class="style-none pl-0">
                          <li>5760 x 3840 px (19.20 x 12.80 in.) - 300 dpi - RGB</li>
                          <li>Kích cỡ tệp 12MB</li>
                        </ul>
                      </dd>
                    </div>

                    <div class="d-flex align-items-start">
                      <dt class="font-weight-normal">Loại giấy phép:</dt>
                      <dd>Royalty-free
                        <span class="separator"> | </span>
                        <a href="">Link tới giấy phép</a>
                      </dd>
                    </div>

                    <div class="d-flex align-items-start">
                      <dt class="font-weight-normal">Cách sử dụng:</dt>
                      <dd>Mục đích sử dụng tuân theo <a href="">Điều khoản</a></dd>
                    </div>

                    <div class="d-flex align-items-start">
                      <dt class="font-weight-normal">Chủ sở hữu:</dt>
                      <dd><a href="">Võ Hoàng Phúc</a></dd>
                    </div>

                  </dl>
                </section>
              </div>
              <div class="price">
                <div class="select-for-checkout d-flex">
                  <div class="select-for-checkout-content ml-auto">
                    <input id="selected-for-checkout" type="checkbox">
                    <label for="selected-for-checkout">Chọn</label>
                  </div>
                </div>
                <ul>
                  <li class="final-price">499.000đ</li>
                  <a href="" class="remove-from-cart" data-testid="remove-from-cart" gi-track="removeFromCart"
                    ng-click="removeFromCart($index)" title="Remove from cart">Xóa</a>
                </ul>
              </div>

            </div>
          </div>
        </div>
        <div class="clear"></div>

        <!-- Item 2 -->
        <div class="cart-item">
          <div class="purchaseable">
            <div class="cart-item-container d-flex">
              <figure class="thumbnail">
                <a href="">
                  <div class="asset-wrapper">
                    <img class="img-fluid" src="../assets/images/Food/002.jpg" alt="">
                  </div>
                </a>
              </figure>
              <div class="product flex-grow-1">
                <section class="details">
                  <dl class="mb-3">
                    <div class="d-flex align-items-start">
                      <dt class="font-weight-normal">Loại hình ảnh:</dt>
                      <dd>Sáng tạo
                        <span class="separator"> | </span>
                        <a href="">Link tới ảnh</a>
                      </dd>
                    </div>
                    <div class="d-flex align-items-start">
                      <dt class="font-weight-normal">Kích thước:</dt>
                      <dd class="size-content">
                        <ul class="style-none pl-0">
                          <li>2208 x 1361 px (7.36 x 4.54 in.) - 300 dpi - RGB</li>
                          <li>Kích cỡ tệp 824KB</li>
                        </ul>
                      </dd>
                    </div>

                    <div class="d-flex align-items-start">
                      <dt class="font-weight-normal">Loại giấy phép:</dt>
                      <dd>Royalty-free
                        <span class="separator"> | </span>
                        <a href="">Link tới giấy phép</a>
                      </dd>
                    </div>

                    <div class="d-flex align-items-start">
                      <dt class="font-weight-normal">Cách sử dụng:</dt>
                      <dd>Mục đích sử dụng tuân theo <a href="">Điều khoản</a></dd>
                    </div>

                    <div class="d-flex align-items-start">
                      <dt class="font-weight-normal">Chủ sở hữu:</dt>
                      <dd><a href="">Huỳnh Đăng Khanh</a></dd>
                    </div>

                  </dl>
                </section>
              </div>
              <div class="price">
                <div class="select-for-checkout d-flex">
                  <div class="select-for-checkout-content ml-auto">
                    <input id="selected-for-checkout" type="checkbox">
                    <label for="selected-for-checkout">Chọn</label>
                  </div>
                </div>
                <ul>
                  <li class="final-price">200.000đ</li>
                  <a href="" class="remove-from-cart" data-testid="remove-from-cart" gi-track="removeFromCart"
                    ng-click="removeFromCart($index)" title="Remove from cart">Xóa</a>
                </ul>
              </div>

            </div>
          </div>
        </div>
        <!-- Hết item 2 -->
        <div class="cart-item">
          <div class="purchaseable">
            <div class="cart-item-container d-flex">
              <figure class="thumbnail">
                <a href="">
                  <div class="asset-wrapper">
                    <img class="img-fluid" src="../assets/images/Food/003.jpg" alt="">
                  </div>
                </a>
              </figure>
              <div class="product flex-grow-1">
                <section class="details">
                  <dl class="mb-3">
                    <div class="d-flex align-items-start">
                      <dt class="font-weight-normal">Loại hình ảnh:</dt>
                      <dd>Sáng tạo
                        <span class="separator"> | </span>
                        <a href="">Link tới ảnh</a>
                      </dd>
                    </div>
                    <div class="d-flex align-items-start">
                      <dt class="font-weight-normal">Kích thước:</dt>
                      <dd class="size-content">
                        <ul class="style-none pl-0">
                          <li>793 x 446 px (11.01 x 6.19 in.) - 72 dpi - RGB</li>
                          <li>Kích cỡ tệp 470KB</li>
                        </ul>
                      </dd>
                    </div>

                    <div class="d-flex align-items-start">
                      <dt class="font-weight-normal">Loại giấy phép:</dt>
                      <dd>Royalty-free
                        <span class="separator"> | </span>
                        <a href="">Link tới giấy phép</a>
                      </dd>
                    </div>

                    <div class="d-flex align-items-start">
                      <dt class="font-weight-normal">Cách sử dụng:</dt>
                      <dd>Mục đích sử dụng tuân theo <a href="">Điều khoản</a></dd>
                    </div>

                    <div class="d-flex align-items-start">
                      <dt class="font-weight-normal">Chủ sở hữu:</dt>
                      <dd><a href="">Nguyễn Thanh Thương</a></dd>
                    </div>

                  </dl>
                </section>
              </div>
              <div class="price">
                <div class="select-for-checkout d-flex">
                  <div class="select-for-checkout-content ml-auto">
                    <input id="selected-for-checkout" type="checkbox">
                    <label for="selected-for-checkout">Chọn</label>
                  </div>
                </div>
                <ul>
                  <li class="final-price">125.000đ</li>
                  <a href="" class="remove-from-cart" data-testid="remove-from-cart" gi-track="removeFromCart"
                    ng-click="removeFromCart($index)" title="Remove from cart">Xóa</a>
                </ul>
              </div>

            </div>
          </div>
        </div>

      </div>

    </div>




  </div>
  
  

  <!--section footer -->
 
  <!--section footer -->

  <!-- Optional JavaScript -->
   <script src="../assets/libraries/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

</html>