:root {
  --swatch_1: #f0f4f9;
  --swatch_2: #b5d2e1;
  --swatch_3: #a2a9b6;
  --swatch_4: #03d1a8;
  --swatch_5: #3f4759;
  --swatch_6: #49bbae;
  --swatch_7: #696dbf;
}

/* Xem sản phẩm */
.view-product {
  width: 400px;
  max-height: 98vh;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px 10px 20px 20px;
  position: fixed;
  right: 5px;
  top: 5px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.2) transparent;
  z-index: 10000;
  transition: right 0.5s ease-in-out, opacity 0.4s ease-in-out;
  opacity: 1;
}

.view-product.d-none {
  right: -450px;
  opacity: 0;
}

.view-product hr {
  margin: 0 !important;
}

.view-product .show-content p {
  margin-bottom: 0;
  padding: 5px 0;
}

.view-product .show-content .title-info {
  display: inline-block;
  min-width: 150px;
  color:  var(--text);
}

.view-product .show-image img {
  width: 350px;
  height: auto;
  border-radius: 10px;
  cursor: pointer;
}

/* Overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  z-index: 9999;
}

.overlay.show {
  opacity: 1;
  visibility: visible;
}

/* Xóa sản phẩm */
#deleteModal .modal-footer {
  border-top: none !important;
  margin-top: -10px !important;
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 400px !important;
  }
}

/* Thêm sản phẩm mới */
.line-dashed {
  height: 4px;
  width: 100%;
  border-bottom: 1px dashed #ccd2d8;
  position: absolute;
  top: 80px;
  left: 0;
  z-index: 1;
}

.add-product .card {
  background-color: #fff;
  border: none;
  padding: 20px;
  color: var(--text);
}

.add-product .card small {
  font-size: 14px;
  margin-bottom: 1.5rem;
}

.add-product .card label {
  margin-bottom: 5px;
}

.add-product .form-control, .form-select {
  background-color: #fff;
  color: var(--text) !important;
  border: 1px solid #ccd2d8;
}

.add-product .form-control::placeholder {
  color: var(--text);
}

.add-product .form-control:focus, .form-select:focus {
  border: 1px solid #ccd2d8 !important;
  box-shadow: none !important;
}

.add-product .d-flex.gap-3 input[type="radio"] {
  margin-right: 5px;
}

/* Upload Ảnh */
.image-upload-box {
  width: 100%;
  height: 250px;
  border: 1px solid #ddd;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 5px;
  transition: border 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
}

.image-upload-box:hover {
  border-color: #ccd2d8;
  cursor: pointer;
  background: repeating-linear-gradient(
    -45deg,
    rgba(221, 221, 221, 0.2),
    rgba(221, 221, 221, 0.2) 10px,
    transparent 10px,
    transparent 20px
  );
  animation: movingLines .7s linear infinite;
}

.upload-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #666;
  position: relative;
  z-index: 2;
  cursor: pointer;
}

.upload-area i {
  font-size: 24px;
  margin-bottom: 8px;
  color: #999;
}

/* Hiệu ứng chạy đường kẻ */
@keyframes movingLines {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 60px 0;
  }
}

/* Button add product */
.btn-add-product {
  background: var(--swatch_4) !important;
  color: white !important;
}

.btn-add-product:hover {
  background: var(--swatch_6) !important;
}
