.right-category {
    min-height: 100vh;
}

p {
    margin-bottom: 5px !important;
}

/* Thêm sản phẩm mới */
.line-dashed {
    height: 4px;
    width: calc(100% + 40px);
    border-bottom: 1px solid #ccd2d8;
    position: absolute;
    top: 0;
    left: -20px;
    z-index: 1;
}

.add-product .card {
    background-color: #fff;
    border: none;
    padding: 20px;
    color: var(--text);
}

.add-product .card small {
    font-size: 14px;
    margin-bottom: 1.5rem;
}

.add-product .card label {
    margin-bottom: 5px;
}

.add-product .form-control, .form-select {
    background-color: #fff;
    color: var(--text) !important;
    border: 1px solid #ccd2d8;
}

.add-product .form-control::placeholder {
    color: var(--text);
}

.add-product .form-control:focus, .form-select:focus {
    border: 1px solid #ccd2d8 !important;
    box-shadow: none !important;
}

.add-product .d-flex.gap-3 input[type="radio"] {
    margin-right: 5px;
}

.add-product .detail-price {
    width: 50%;
    margin: auto 0 auto auto;
}

/* Hiệu ứng chạy đường kẻ */
@keyframes movingLines {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 60px 0;
    }
}

/* Lịch sử chi tiết đơn hàng */
.timeline {
    position: relative;
    padding-left: 30px;
}

.timeline::before {
    content: '';
    position: absolute;
    left: 15px;
    top: 5px;
    bottom: 30px;
    width: 2px;
    background: #6f42c1;
}

.timeline-item {
    position: relative;
    margin-bottom: 20px;
}

.timeline-item::before {
    content: '';
    position: absolute;
    left: -20px;
    top: 5px;
    width: 12px;
    height: 12px;
    background: #6f42c1; /* Màu tím */
    border-radius: 50%;
}

.timeline-item h6 {
    margin-bottom: 5px;
    font-weight: bold;
}

.timeline-item p {
    margin: 0;
    color: #666;
}

.details-box {
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 5px;
}

.details-box p {
    margin: 5px 0;
}

.details-box strong {
    color: #333;
}