.image-stack {
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.image-stack img {
    width: 30px !important;
    height: 30px !important;
    border: 2px solid #fff;
    border-radius: 5px !important;
}

/* Hiển thị số lượng còn lại */
.more-images {
    width: 30px !important;
    height: 30px !important;
    border-radius: 5px !important;
    background: #ccc;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    border: 2px solid #fff;
}


.table-hover tbody tr.selected {
    background-color: #ddd !important;
    /* Làm tối dòng được chọn */
}

.table-hover tbody tr {
    position: relative;
    cursor: pointer;
}

/* Thẻ chi tiết (ẩn mặc định) */
.details {
    display: none;
    padding: 10px;
    background: #f8f9fa;
    border: 1px solid #ddd;
    margin-top: 10px;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.details.active {
    display: block;
}

.details .container {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.order-details {
    width: 400px;
    background: #fff;
    border: 1px solid #ddd;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.order-details h5 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
}

.order-details .tabs {
    border-bottom: 1px solid #ddd;
    margin-bottom: 15px;
}

.order-details .tab {
    display: inline-block;
    margin-right: 15px;
    cursor: pointer;
    padding: 5px 0;
}

.order-details .tab.active {
    font-weight: bold;
    border-bottom: 2px solid #007bff;
}

.order-details .content {
    display: none;
}

.order-details .content .container-box {
    overflow: hidden;
    max-height: 250px;
    overflow-y: scroll;
}

.order-details .content .box {
    display: flex;
    margin-bottom: 10px;
    list-style-type: none;
}

.order-details .content .box .content-detail {
    margin-left: 10px;
    margin-top: 0;
    padding-top: 0;;
    display: flex;
    flex-direction: column;
}

.order-details .content .box img {
    width: 40px;
    height: 40px;
    border-radius: 5px;
}

.order-details .content.active {
    display: block;
}

.order-details .footer {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}