
body.no-scroll {
    overflow: hidden;
}

/* Xem các sản phẩm của danh mục*/
.view-product {
    width: 400px;
    max-height: 98vh;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px 10px 20px 20px;
    position: fixed;
    right: 5px;
    top: 5px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.2) transparent;
    z-index: 10000;
    transition: right 0.5s ease-in-out, opacity 0.4s ease-in-out;
    opacity: 1;
}

.view-product.d-none {
    right: -450px;
    opacity: 0;
}

.view-product hr {
    margin: 0 !important;
}

.view-product #content-replace p {
    margin-bottom: 0;
    padding: 5px 0;
}

.view-product #content-replace .title-info {
    display: inline-block;
    min-width: 150px;
    color:  var(--text);
}

.view-product .show-image img {
    width: 350px;
    height: auto;
    border-radius: 10px;
    cursor: pointer;
}

/* View product list each category */
.show-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 10px;
}

.product-card {
    background: #f8f8f8;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    min-height: 180px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.product-card:hover {
    transform: scale(1.05);
}

.product-image img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    object-fit: cover;
}

.product-title p {
    margin: 5px 0 0;
    font-size: 14px;
    font-weight: 500;
    color: #333;
}
