:root {
  --swatch_1: #f0f4f9;
  --swatch_2: #b5d2e1;
  --swatch_3: #a2a9b6;
  --swatch_4: #03d1a8;
  --swatch_5: #3f4759;
  --swatch_6: #49bbae;
  --swatch_7: #696dbf;
}

/* Xem sản phẩm */
.view-product {
  width: 400px;
  max-height: 98vh;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px 10px 20px 20px;
  position: fixed;
  right: 5px;
  top: 5px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.2) transparent;
  z-index: 10000;
}

.view-product hr {
  margin: 0 !important;
}

.view-product .show-content p {
  margin-bottom: 0;
  padding: 5px 0;
}

.view-product .show-content .title-info {
  display: inline-block;
  min-width: 150px;
  color:  var(--text);
}

.view-product .show-image img {
  width: 350px;
  height: auto;
  border-radius: 10px;
  cursor: pointer;
}