:root {
    --swatch-1: #f0f4f9;
    --swatch-2: #b5d2e1;
    --swatch-3: #a2a9b6;
    --swatch-4: #03d1a8;
    --swatch-5: #3f4759;
    --swatch-6: #49bbae;
    --swatch-7: #696dbf;
    --primary-color: #00cea4;
    --dark-right: #171717;
    --dark-bg-right: #09090b;
}

/* General */
body.no-scroll {
    overflow: hidden;
}

p {
    color: var(--swatch-5);
}

.container-main .left {
    position: fixed;
    width: 220px;
    height: 100vh;
    float: left;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: width 0.3s ease-in-out;
    z-index: 999;
}

.container-main .left .title-logo {
    text-align: center;
}

.container-main .left .text-logo {
    color: var(--primary-color);
}

.container-main .left .date {
    box-shadow: 0 0 10px -5px var(--swatch-4);
    border-radius: 5px;
}

.container-main .left .avatar img,
.right-category .table td img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.edit-btn-permission,
.delete-btn-permission {
    opacity: 0.5;
}

/* Sidebar Collapsed */
.container-main .left.collapsed {
    width: 60px;
}

.container-main .left.collapsed span {
    display: none;
}

.container-main .left.collapsed .title-logo {
    color: var(--primary-color);
    font-weight: bolder;
    margin-bottom: 10px;
}

/* Navbar Collapsed */
.right-category nav.expanded {
    width: calc(97% - 60px);
    transition: width .3s ease-in-out;
}

/* Sidebar List Items */
.container-main .left ul {
    padding-top: 10px;
}

.container-main .left li {
    font-weight: 600;
    margin: 5px auto;
    padding: 7px 15px;
    border-radius: 5px;
    width: 80%;
    text-align: left;
    transition: 0.2s ease-in-out;
}

.container-main .left.collapsed li {
    text-align: center;
}

.container-main .left.collapsed li i {
    margin-right: 0;
    display: block;
    font-size: 1rem;
}

.container-main .left li i {
    margin-right: 10px;
}

.container-main .left li.active,
.container-main .left li:hover {
    background-color: var(--swatch-4);
    color: white;
}

.container-main .left li.active i,
.container-main .left li.active a,
.container-main .left li:hover i,
.container-main .left li:hover a {
    color: white;
}

.container-main .left a {
    text-decoration: none;
    color: var(--swatch-5);
}

/* Main Content */
.container-main .right-category {
    float: right;
    width: calc(100% - 220px);
    background-color: var(--swatch-1);
    transition: width 0.3s ease-in-out;
}

.container-main .right-category .content-view {
    width: 97%;
    margin-left: auto;
    margin-right: auto;
}

.container-main .right-category.expanded {
    width: calc(100% - 60px);
}

.container-main .right-category .search {
    background-color: white;
    border-radius: 5px;
}

.container-main .right-category .search .input-search input {
    border: none;
    padding-left: 10px;
}

.container-main .right-category .search .input-search input:focus {
    outline: none !important;
    box-shadow: none !important;
}

.container-main .right-category .search .filter .btn {
    border: 1px solid var(--swatch-3) !important;
    background-color: white;
}

.container-main .right-category .search .filter .btn:hover {
    background-color: var(--swatch-4);
    color: white;
}

.right-category .table {
    background-color: white;
    overflow: hidden;
    width: 95%;
    margin: 0 auto;
    border-radius: 5px;
}

.right-category .table th,
.right-category .table td {
    vertical-align: middle;
    text-align: center;
}

.right-category .btn-primary {
    background-color: #007bff;
    border: none;
}

.right-category .btn-danger {
    background-color: #dc3545;
    border: none;
}

.right-category .pagination .page-item.active .page-link {
    background-color: #007bff;
    border-color: #007bff;
}

/* Navbar */
.right-category nav {
    background-color: white;
    margin: 15px 1.5% 0 auto;
    width: calc(97% - 220px);
    border-radius: 5px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

.right-category nav form input {
    border: none !important;
    font-size: 13px;
}

.right-category nav form button {
    margin-right: -20px;
    position: absolute;
    right: 15%;
    top: -4px;
}

.right-category nav form .form-control {
    background: #f1f4f8 !important;
}

.right-category nav ul {
    padding: 10px 15px 10px 0;
}

.right-category nav ul li {
    margin-left: 10px;
    border-radius: 5px;
}

.right-category nav ul li a {
    border-radius: 5px;
    padding: 0 5px;
    color: var(--swatch-5);
}

/* Show view modal */
.view-modal {
    width: 400px;
    min-height: 98vh;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px 10px 20px 20px;
    position: fixed;
    right: 5px;
    top: 5px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.2) transparent;
    z-index: 10000;
    transition: right 0.5s ease-in-out, opacity 0.4s ease-in-out;
    opacity: 1;
}

.view-modal.d-none {
    right: -450px;
    opacity: 0;
}

.view-modal hr {
    margin: 0 !important;
}

.view-modal #content-replace p {
    margin-bottom: 0;
    padding: 5px 0;
}

.view-modal #content-replace .title-info {
    display: inline-block;
    min-width: 150px;
    color:  var(--text);
}

.view-modal .show-image img {
    width: 350px;
    height: auto;
    border-radius: 10px;
    cursor: pointer;
}

/* Overlay */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    z-index: 9999;
}

.overlay.show {
    opacity: 1;
    visibility: visible;
}


/* Dark mode */
.dark-mode {
    background-color: var(--dark-bg-right);
    color: #ffffff;
}

.dark-mode .navbar {
    background-color: var(--dark-bg-right);
}

.dark-mode .container-main .right-category {
    background-color: var(--dark-right);
}

.dark-mode .form-control {
    background-color: #333;
    color: #fff;
    border: 1px solid #555;
}

.dark-mode .form-control::placeholder {
    color: #aaa;
}

.dark-mode .btn-outline-success {
    border-color: #ffffff;
    color: #ffffff;
}

.dark-mode .btn-outline-success:hover {
    background-color: #ffffff;
    color: var(--dark-bg-right);
}

.dark-mode .nav-item i {
    color: #ffffff;
}

.dark-mode .right-category nav form input {
    border: none !important;
    font-size: 13px;
    color: white;
}

.dark-mode .right-category nav form button {
    color: #ffffff;
}

.dark-mode .right-category nav form .form-control {
    background: var(--dark-right) !important;
}