:root {
    --primary-color: #009970;
    --primary-hover-color: #00b383;
    --text-color: #666777;
    --text-hover-color: #000;
    --footer-bg-color: #f9f9f9;
    --footer-link-color: #333;
    --input-border-color: #ccc;
    --button-hover-color: #4a84d9;
    --footer-border-color: #e0e0e0;
    --footer-text-color: #777;
    --line-seperate: #e0e0e0;

    --swatch_1: #f0f4f9;
    --swatch_2: #b5d2e1;
    --swatch_3: #a2a9b6;
    --swatch_4: #03d1a8;
    --swatch_5: #3f4759;
    --swatch_6: #49bbae;
    --swatch_7: #696dbf;
}

p {
    color: var(--swatch_5);
}

.container-main .left {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.container-main .left .text-logo {
    color: #00cea4;    
}

.container-main .left .date {
    box-shadow: 0px 0px 10px -5px var(--swatch_4);
    border-radius: 5px;   
}

.container-main .left .avatar img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

/* LEFT MAIN */
.container-main .left {
    float: left;
    position: fixed;
    width: 250px;
    height: 100vh;
    /* box-shadow: 5px 0 10px rgba(0, 0, 0, 0.1); */
}

.container-main .left ul {
    padding-top: 10px;
}

.container-main .left li {
    font-weight: 600;
    margin: 5px auto;
    padding: 7px 15px;
    border-radius: 5px;
    width: 80%;
}

.container-main .left li i {
    margin-right: 10px;
}

.container-main .left li.active {
    background-color: var(--swatch_4);
}

.container-main .left li.active i,
.container-main .left li.active a {
    color: white;
}

.container-main .left li:hover {
    background-color: var(--swatch_4);
    transition: .2s ease-in-out;
}

.container-main .left li:hover i,
.container-main .left li:hover a {
    color: white;
    transition: .2s ease-in-out;
}

.container-main .left a {
    text-decoration: none;
    color: var(--footer-link-color);
}
/* LEFT MAIN */

/* RIGHT CATEGORY */
.right-category .container {
    max-width: 100% !important;
}
.right-category .add-category .fa-print {
    padding: 7px;
    background-color: #feefc6;
    border: 2px solid #fdebb4;
    cursor: pointer;
    border-radius: 10px;
}

.right-category .add-category .bi-arrow-bar-down {
    padding: 4.5px 7px;
    background-color: var(--line-seperate);
    border: 2px solid lightgray;
    cursor: pointer;
    border-radius: 10px;
}

.right-category .table {
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    width: 95%;
    margin: 0 auto;
    border-radius: 5px;
}

.right-category .table th, .table td {
    vertical-align: middle;
    text-align: center;
}

.right-category .table td img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.right-category .btn-primary {
    background-color: #007bff;
    border: none;
}

.right-category .btn-danger {
    background-color: #dc3545;
    border: none;
}

.right-category .pagination .page-item.active .page-link {
    background-color: #007bff;
    border-color: #007bff;
}

/* RIGHT CATEGORY */
.container-main .right-category {
    float: right;
    width: calc(100% - 250px);
    background-color: var(--swatch_1);
    height: 200vh;
}

.container-main .right-category .header {
    background-color: white;
}

.container-main .right-category .search {
    background-color: white;
    width: 100%;
    margin: 0 auto;
    border-radius: 5px;
}

.dataTables_length {
    margin-bottom: 20px;
}

.container-main .right-category .search .input-search input {
    border: none;
    padding-left: 10px;
}

.container-main .right-category .search .input-search input:focus {
    outline: none !important;
    box-shadow: none !important;
}

.container-main .right-category .search .filter .btn {
    border: 1px solid var(--line-seperate) !important;
    background-color: white;
}

.container-main .right-category .search .filter .btn:hover {
    background-color: var(--swatch_4);
    color: white;
}


.right-category nav {
    background-color: white;
    width: 95%;
    margin: 0 auto;
}

.right-category nav ul {
    padding: 10px 15px 10px 0;
}

.right-category nav ul li {
    margin-left: 10px;
    border-radius: 5px;
}

.right-category nav ul li a {
    border-radius: 5px;
    padding: 0 5px;
    color: var(--text-hover-color);
}