:root {
    --color-interactive-secondary-hover: #191919;
    --color-content-inverse: #fff;
}   


a:hover {
    text-decoration: none;   
}

.dp-b {
    display: block;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.dp-ib {
    display: inline-block;
}

.w-100 {
    width: 100%;
}



.dp-flex {
    display: flex;
}


.stl-none {
    list-style-type: none;
}

#change-password {
    margin: 0 120px;
}


#change-password .change-password-container {
    padding: 40px;
}

/* Navigation */
section#nav {
    padding: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1) !important;
}
/* Avatar */
#account-menu-container .profile-image > img {
    max-width: 60px;
    border-radius: 50%;
    cursor: pointer;
}



/* Navigate link */
#account-menu-container .menu-link li > a {
    color: #191919;
    font-size: 16px;
}

#account-menu-container .menu-link li > a:hover {
    color: var(--primary-color);
}



#account-menu-container .menu-link .change-password a {
    color: var(--primary-color);
}


/* Content */
#change-password .change-pw-header {
    border-bottom: 1px solid #ced4da;
}

#change-password .change-pw-header .title-change-pw {
    font-size: 20px;
    font-weight: 500;
}

#change-password .change-pw-header .pw-security-description {
    font-size: 16px;
    font-weight: 400;
    color: var(--color-content-secondary);
}

#change-password .password-form {
    max-width: 500px;
}

#change-password .password-form label  {
    font-size: 15px;
    font-weight: 400;
    padding-right: 0;
}





#change-password .password-form .btn-change-pw {
    color: #fff;
    background-color: var(--primary-color);
}

#change-password .password-form .btn-change-pw:hover {
    background-color: var(--primary-hover-color);
    opacity: 0.9;
}
