#nav {
    position: fixed !important;
    background: white;
    margin-bottom: 20px;
}

.modal {
    z-index: 9999;
}

#nav:not(.scrolled) .title-logo {
    color: black;
}

#nav:not(.scrolled) .title-item {
    color: black !important;
}

#nav:not(.scrolled) .nav-item:hover {
    color: #009970;
}

#nav:not(.scrolled) .title-item:hover {
    color: #009970 !important;
}

#nav:not(.scrolled) .title-item:hover i {
    color: #009970 !important;
}

#nav:not(.scrolled) .nav-item:hover .title-item {
    color: #009970 !important;
}

#nav:not(.scrolled) .container .login-button {
    background-color: transparent;
    color: black;
    padding: 7px 19px;
    border: 1px solid black;
}

.image-text {
    position: relative;
    margin: 10px;
}
.image-text img {
    max-width: 100px;
    max-height: 100px;
    border-radius: 8px;
}
.delete-img {
    position: absolute;
    top: 5px;
    right: 5px;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
}