

.frame-forgot {
  min-height: 600px;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  height: 100vh;
  background-image: url(../images/Animal/7.jpg);
  object-fit: cover;
}

.forgot-container {
  word-break: break-word;
  padding: 24px;
  width: 70vw;
  max-width: 448px;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(238, 239, 242);
}

.btn {
  width: 100%;
  margin-top: 10px;
  color: #fff;
  border-radius: 28px;
  font-size: 16px;
  line-height: 30px;
  font-weight: bold;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: #000;
}

.btn:hover {
  opacity: 0.8;
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: #fb7d7d;
}

.btn-send {
  background-color: #fb7d7d;
  color: #000;
}

.btn-back {
  background-color: #000;
}
