* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-size: 16px;
    font-family: "Poppins", serif;
}

/* SECTION BANNER */

.banner {
    width: 100%;
    height: 514px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/banner.jpg');
    background-size: cover;
}

.banner .banner-home {
    height: 100%;
}

.banner .banner-home .main-title {
    margin-bottom: 25px;
    color: var(--footer-link-color);
}

.banner .banner-home .main-title h1 {
    font-weight: 700;
    margin: 20px;
    color: white;
}

.banner .banner-home .main-title p {
    font-size: 20px;
    color: white;
}

.banner .search-container {
    display: flex;
    align-items: center;
    width: 60%;
    border-radius: 2px;
    background-color: rgba(0,0,0,0.3);
    box-shadow: 0 0 0 19px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0 0 0 19px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 0 0 19px rgba(0,0,0,0.3);
}

.banner .dropdown {
    position: relative;
    display: inline-block;
}

.banner .dropdown button {
    background-color: white;
    border: 1px solid var(--line-seperate);
    padding: 10px 12px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    min-width: max-content;
}

.banner .dropdown button:after {
    content: '';
    margin-left: 8px;
    font-size: 12px;
}

.banner .dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    background-color: #fff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    z-index: 1;
    border-radius: 10px;
    width: max-content;
}

.banner .dropdown-content a:first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.banner .dropdown-content a:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.banner .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.banner .dropdown-content a:hover {
    background-color: var(--line-seperate);
}

.banner .dropdown-content a.active {
    color: var(--primary-color);
}

.banner .search-bar {
    flex-grow: 1;
    position: relative;
}

.banner .search-bar input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.banner .search-bar .clear-btn {
    position: absolute;
    right: 10px;
    cursor: pointer;
    font-size: 18px;
    display: none;
}

.banner .search-bar input:focus {
    outline: none;
}

.banner .search-button {
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    color: white;
    padding: 10px 15px;
    cursor: pointer;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.banner .search-bar {
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    overflow: hidden;
    width: 50%;
    background-color: white;
}

.banner .search-bar input[type="text"] {
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    flex: 1;
    outline: none;
}

@media screen and (max-width: 768px) {
    .banner .banner-home .main-title p {
        width: 80%;
        text-align: center;
    }

    .banner .banner-home .search-button span {
        display: none;
    }
}

@media screen and (max-width: 480px) {
    .banner {
        height: 50vh;
    }

    .banner .banner-home .main-title p {
        font-size: 15px;
        font-weight: 500;
    }

    .banner .banner-home .search-container {
        width: 90%;
    }

    .banner .dropdown #type-search {
        height: 46px;
        padding: 0 0 0 5px;
    }

    .banner .dropdown #type-search span{
        display: none;
    }
}
/* end section banner */

/* type-images */
.type-images {
    margin-top: 20px;
    margin-bottom: 50px;
}

.type-images .container a {
    width: 30%;
}

.type-images .category-item {
    text-align: center;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    flex-direction: column;
}

.type-images .category-item img {
    width: 100%;
    height: 200px;
    border-radius: 5px;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.type-images .category-item img:hover {
    transform: scale(1.1);
}

.type-images .category-item p {
    font-weight: bold;
    margin-top: 10px;
    position: absolute;
    top: 10%;
    left: 10%;
    font-size: 25px;
    text-transform: uppercase;
    background: white;
    color: black;
    padding: 10px 20px;
}
/* type-images */

/* section category-home */
.category-home .title {
    display: flex;
    justify-content: space-between;
}
.category-home .title p {
    font-size: 40px;
    font-weight: bold;
}

.category-home .title a {
    height: max-content;
}

.category-home .container a {
    text-decoration: none;
}

.category-home .container.active a:hover {
    cursor: pointer;
}

.category-home .container.photos {
    margin: 0;
    width: 250px !important;
}

.category-home .container .category {
    position: relative;
    width: 250px;
    height: 250px;
    overflow: hidden;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.category-home .category img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
    transition: transform 0.3s ease;
}

.category-home .category:hover img {
    transform: scale(1.1);
}

.category-home .category span {
    position: relative;
    z-index: 1;
}

.category::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    z-index: 0;
}

.container .swiper-slide {
    margin-right: 20px;
}

.swiper-button-next,
.swiper-button-prev {
    display: none !important;
}

@media (max-width: 768px) {
    .category-home .title p {
        font-size: 35px;
    }

    .category-home .title a {
        display: none;
    }

    .category-home .category span {
        font-size: 20px;
    }

    .category-home .see-more {
        display: block !important;
        margin: 30px auto 15px;
        width: 50%;
    }

    .category-home .container .category {
        width: 150px;
        height: 150px;
    }

    .category::after {
        background: rgba(0, 0, 0, 0.3);
    }

    .swiper-container {
        position: relative;
    }

    .swiper-slide.swiper-slide-active,
    .swiper-slide.swiper-slide-next,
    .swiper-slide.swiper-slide-pre {
        width: 140px !important;
    }

    .swiper-slide.swiper-slide {
        width: auto !important;
    }

    .swiper-button-next,
    .swiper-button-prev {
        display: block !important;
        color: lightgray !important;
        height: 20px !important;
    }
}

@media (max-width: 480px) {
    .category-home .title p {
        font-size: 30px;
    }

    .category-home .title a {
        display: none;
    }

    .category-home .see-more {
        display: block !important;
        margin-top: 15px;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }

    .category-home .container .category {
        width: 150px;
        height: 150px;
    }

}

@media screen and (min-width: 1400px) {
    .swiper-container {
        max-width: calc(100% - 20%) !important;
        margin-left: 100px;
        margin-right: auto;
    }
}

/* new events */
.container.raw-images {
    flex-direction: column;
    position: relative;
}
.raw-images .heading{
    padding-top: 50px;
}

.raw-images .heading h3 {
    font-size: 3em;
    font-weight: bolder;
}

.raw-images .heading span {
    padding: 5px;
    border-radius: 10px;
    color: #009970;
    border-bottom: 2px solid #00b383;
}

.raw-images .heading .button-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 40px;
}

.raw-images .heading .custom-button {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 30px;
    background-color: #fff;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}

.raw-images .heading .custom-button i {
    font-size: 16px;
}

.raw-images .heading .custom-button:hover {
    background-color: #f0f0f0;
    border-color: #bbb;
}

.new-events {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 10px auto 20px auto;
}

.new-events .box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-height: 1000px;
    overflow-y: hidden;
    gap: 10px;
}

.new-events .box .dream {
    display: flex;
    flex-direction: column;
    width: 32.5%;
}

.new-events .box .dream .pic {
    position: relative;
    margin-bottom: 5px;
}

.new-events .box .dream img {
    width: 100%;
    border-radius: 5px;
    z-index: -1;
}

.new-events .box  .dream .pic > p {
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
}
.new-events .box  .dream .pic {
    position: relative;
    display: inline-block;
}

.new-events .box  .dream .pic img {
    display: block;
    width: 100%;
    height: auto;
    transition: filter 0.3s;
}

.new-events .box  .dream .pic:hover img {
    filter: brightness(80%);
    transition: .5s ease-in-out;
}

.new-events .box  .dream .pic .hover-options {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-15%, 15%);
    display: flex;
    flex-direction: column;
    gap: 5px;
    opacity: 0;
    transition: opacity 0.3s;
}

.new-events .box  .dream .pic .hover-options .option-button {
    background-color: #262626;
    border: none;
    color: white;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 16px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.new-events .box  .dream .pic .hover-options .option-button:hover {
    color: #666777;
    background: white;
    transition: .3s ease-in-out;
}

.new-events .box  .dream .pic .hover-options .option-button .text-click-hover {
    display: none;
    position: absolute;
    right: 120%;
    background: #666777;
    color: white;
    font-size: 15px;
    min-width: max-content;
    padding: 2px 5px;
    border-radius: 6px;
}

.new-events .box  .dream .pic .hover-options .option-button:hover .text-click-hover {
    display: block;
}

.container {
    max-width: 1300px !important;
}

.new-events .box .dream .pic:hover .hover-options {
    opacity: 1;
}

.image-text {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 5px;
    width: 100%;
    opacity: 0;
    font-weight: bold;
    transition: opacity 0.3s;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.new-events .box  .dream .pic:hover .image-text {
    opacity: 1;
}

.fade-out {
    position: absolute;
    z-index: 5;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 0 24px 24px;
    height: 192px;
    background: linear-gradient(180deg, hsla(0, 0%, 100%, 0), #fff);
}

.see-more {
    position: relative;
    z-index: 2;
    margin-bottom: 10px;
}

.see-more-button {
    padding: 5px 25px;
    border: 1px solid #6c757d;
    border-radius: 20px;
    cursor: pointer;
    background-color: transparent;
    transition: background-color 0.5s;
    font-size: 15px;
}

.see-more-button a {
    color: #6c757d;
}

.see-more-button:hover {
    background: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.see-more-button:hover a {
    color: white !important;
}

@media screen and (max-width: 768px) {
    .new-events .box .dream:last-child {
        display: none;
    }

    .new-events .box .dream {
        width: 48.5%;
    }

    .new-events .box .dream .pic .hover-options {
        flex-direction: row;
    }

    .new-events .box .dream .pic .hover-options button {
        width: 36px;
    }
}

@media screen and (max-width: 480px) {
    .new-events .box .dream:nth-child(2) {
        display: none;
    }

    .new-events .box .dream {
        width: 100%;
    }
}

/* info box */
.info-box {
    display: flex;
    align-items: flex-start;
    gap: 15px;
    padding: 50px 0;
    /*background-color: #f9f9f9;*/
    /*border-radius: 10px;*/
    /*box-shadow: 0 2px 4px rgb(168, 169, 178);*/
    border-top: 1px solid lightgrey;
    width: 95%;
    margin: 70px auto;
}

.info-box .icon {
    font-size: 40px;
    color: #37b37e;
    background-color: #e7f8f2;
    padding: 10px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-box .content {
    flex: 1;
}

.info-box .content h3 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}

.info-box .content p {
    font-size: 14px;
    line-height: 1.6;
    color: #333;
}

.info-box .content .learn-more {
    font-size: 14px;
    font-weight: 500;
    color: #37b37e;
    text-decoration: none;
}

.info-box .content .learn-more:hover {
    text-decoration: underline;
}

