/* Reset css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #009970;
  --primary-hover-color: #00b383;
  --text-color: #666777;
  --text-hover-color: #000;
  --footer-bg-color: #f9f9f9;
  --footer-link-color: #333;
  --input-border-color: #ccc;
  --button-hover-color: #4a84d9;
  --footer-border-color: #e0e0e0;
  --footer-text-color: #777;
  --line-seperate: #e0e0e0;

  --swatch_1: #f0f4f9;
  --swatch_2: #b5d2e1;
  --swatch_3: #a2a9b6;
  --swatch_4: #03d1a8;
  --swatch_5: #3f4759;
  --swatch_6: #49bbae;
  --swatch_7: #696dbf;
}

.search {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

/* Common */
.row h2 {
  font-size: 16px;
  font-weight: 700;
}

.product-container {
  width: 90%;
  margin: 20px auto 50px;
}

.product-details .col li {
  list-style-type: none;
}

.product-name {
  font-size: 20px;
  font-weight: 650;
}

.product-desc {
  color: #aaa;
  padding: 4px 0 5px;
}

.col li {
  list-style-type: none;
}

/* LEFT */
.div-img {
  border: 1px var(--input-border-color) solid;
  min-height: 460px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ccc;
  position: relative;
}

.product-img {
  max-width: 700px;
  width: 100%;
  background-size: contain;
  display: block;
}

.btn-enlarge {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background: rgb(255, 255, 255);
  color: #000;
  padding: 8px 10px;
  cursor: pointer;
  border-radius: 20px;
  opacity: 0.7;
}

.btn-enlarge:hover {
  opacity: 1;
}

/* BEGIN modals */
#modal-image {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  align-items: center;
  justify-content: center;
  display: none;
  z-index: 30;
  width: 100%;
  height: 100%;
  padding: 50px;
}

#modal-image .modal-container {
  background: #fff;
  position: relative;
  width: 100%;
  max-width: 1000px;
  /* Tạo animation xuất hiện cho tp trong 0.3 giây */
  transition-duration: 0.3s;
}

#modal-image .btn-close {
  position: absolute;
  top: -14px;
  right: -14px;
  color: #eee;
  background: #aaa;
  cursor: pointer;
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  width: 28px;
  height: 28px;
}

#modal-image .btn-close:hover {
  color: #fff;
  background: #000;
}

#modal-image img {
  width: 100%;
  /* Fix khoảng trắng nằm dưới img khiến cho nó không khớp với div */
  display: block;
}

/* END modal */

.product-button {
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn-left {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
}

.product-button button {
  background-color: #eee;
  color: #000;
  padding: 10px 10px;
  border-radius: 25px;
  text-align: center;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}

.product-button button:hover {
  color: #fff;
  background: var(--primary-color);
}

.product i {
  padding-left: 10px;
}

.product-left {
  padding-right: 20px;
}

.product-details li {
  margin-top: 8px;
  display: flex;
  flex-direction: row;
}

.product-details strong {
  width: 30%;
  font-weight: 400;
}

.product-details p {
  width: 70%;
  margin-bottom: 0;
}

/* END LEFT */

/* Right */
.btn-right {
  display: block;
  color: #000;
  padding: 15px 20px;
  border-radius: 25px;
  text-align: center;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  width: 100%;
}

.product-right {
  padding: 0 16px;
}

.product-right .liscense a {
  margin-left: 16px;
  color: #000;
}

.btn-add-cart {
  background-color: #fff;
}

.btn-buy:hover {
  background: var(--swatch_4);
}

.btn-add-cart:hover {
  background: var(--swatch_4);
}

.product-price p {
  font-size: 20px;
  font-weight: 700;
}

.product-conditions {
  border: 1px var(--input-border-color) solid;
  padding: 4px 0;
  margin-bottom: 30px;
}

.product-conditions li {
  margin-top: 4px;
}

.product-conditions li:first-child {
  border-bottom: 1px var(--input-border-color) solid;
}

.condition {
  position: relative;
  text-decoration: none;
  width: 100%;
  justify-content: flex-start;
  text-align: left;
  display: flex;
  flex-direction: column;
  padding: 16px 16px 16px 8px;
  -webkit-box-align: start;
  align-items: start;
}

.condition > div {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.condition div input[type="radio"] {
  margin-right: 10px;
  transform: scale(1.2);
  cursor: pointer;
}

.condition div span {
  padding: 5px;
}

.condition div label {
  font-weight: 600;
  font-size: 14px;
}

.condition div p {
  margin-top: 8px;
}

/* Begin: Promotion */
.promotion {
  border-top: 1px solid #000;
  padding: 16px 0;
  border-bottom: 1px solid #000;
}

.promotion .title {
  display: flex;
  gap: 10px;
}

.promotion .title p {
  font-size: 16px;
  color: #000;
  font-weight: 700;
}

.grid-btn {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-bottom: 14px;
}

.grid-btn .btn--packageimg {
  display: inline-block;
  text-decoration: none;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 12px 48px;
  min-width: 80px;
  border-radius: 5px;
  cursor: pointer;
  transition: opacity 0.3s ease;
  text-align: center;
  color: #000;
  background-color: #fff;
  border: 1px solid var(--primary-color);
  font-weight: 700;
  font-size: 16px;
}

.grid-btn .btn--packageimg:hover {
  background-color: #eee;
}

.grid-btn .btn--packageimg.active {
  background-color: var(--primary-color);
  color: #fff;
}
/* Tags */
.tag-container {
  margin-top: 20px;
  padding: 0 50px;
}
.tag-image {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  background-color: #fff;
}
.tag {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 30px;
  background-color: #fff;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
  color: #000;
  text-decoration: none;
}

.tag:hover {
  background-color: #f0f0f0;
}

/* Begin: Categories tương tự */
.categories-container {
  margin-top: 20px;
  padding: 0 50px;
  margin-bottom: 100px;
}

.container-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-title p {
  font-size: 16px;
  font-weight: 700;
}

.categories-image {
  margin-top: 20px;
  display: grid; /* Dùng grid layout thay vì flex */
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Tự động chia cột */
  gap: 15px; /* Khoảng cách giữa các ảnh */
}

.image {
  width: 100%; /* Đảm bảo ảnh lấp đầy cột */
  aspect-ratio: 4 / 3; /* Đặt tỷ lệ 4:3 cho ảnh */
  overflow: hidden;
  border-radius: 8px;
  position: relative;
}

.image img {
  object-fit: cover; /* Cắt ảnh để phù hợp khung mà không bị méo */
  width: 100%;
  height: 100%;
  display: block;
}

.image:hover img {
  transform: scale(1.1); /* Hiệu ứng zoom khi hover */
  transition: transform 0.5s;
  cursor: pointer;
}

.image .btn-in-image {
  position: absolute;
  bottom: 5px;
  right: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}

.image .btn-in-image button {
  border: none;
  padding: 15px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
  color: #fff;
}

.image .btn-in-image button:hover {
  background-color: #fff;
  color: #000;
}

/* End: Categories tương tự */
