
.overlay2 {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 10;
}

/* UPLOAD */
.upload {
    position: fixed;
    top: -100vh;
    right: 2.5vw;
    height: 90vh;
    width: 95vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: .5rem 0 .5rem rgba(0, 0, 0, .1);
    transition: .3s linear;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    z-index: 1000;
}

.upload.active {
    top: 5vh;
    transition: .2s linear;
}

.upload .container {
    max-width: 100%;
    padding-left: 0 !important;
    padding-right: 0 !important;
    max-height: 100%;
    height: 100%;
}

.upload .header {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    height: 90px;
    position: relative;
    z-index: 6;
}

.upload .header .fa-upload {
    background: var(--footer-bg-color);
    border-radius: 50%;
    padding: 10px;
    font-size: 25px;
    margin-left: 50px;
}

.upload .header .text {
    margin-left: 20px;
}

.upload .close-upload {
    position: absolute;
    top: 5%;
    right: 3%;
    z-index: 7;
}

.upload .option {
    background: var(--footer-bg-color);
    border: 1px dashed;
    border-radius: 20px;
    margin: 50px;
    height: 65%;
    display: block;
}

.upload .option.pass {
    display: none;
}

/* STEP 2 */

.upload .show-pane {
    display: none;
    height: calc(100% - 90px);  
}

.upload .show-pane.curr {
    display: block;
}

/* LEFT */
.upload .show-pane .pane-left {
    float: left;
    width: 60%;
    height: 100%;
    background: var(--footer-bg-color);
    padding: 30px 40px;
    overflow: hidden;
    overflow-y: scroll;
}

.show-pane .pane-left .fa-trash {
    display: none;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
}

.show-pane .pane-left .image-text {
    position: relative;
}

.show-pane .pane-left .image-text:hover .fa-trash {
    display: block;
    top: 3%;
    right: 30px;
    position: absolute;
    background: var(--footer-text-color);
    color: white;
}

.show-pane .pane-left img, 
.show-pane .pane-left .add-img {
    width: 200px;
    height: 200px;
    object-fit: cover;    
    margin-right: 20px;
    padding: 2px;
    position: relative;
    border-radius: 5px;
}

.add-img label {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute; /* Đặt icon trong div cha */
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.add-img input[type="file"] {
    opacity: 0;
}

.show-pane .pane-left .image-text.active img{
    border: 2px solid var(--primary-color);
}

.show-pane .pane-left .add-img:hover {
    background: var(--primary-color) !important;
    color: white !important;
}
 /* END LEFT */

/* RIGHT */

.upload .show-pane .pane-right {
    position: relative;
    float: right;
    width: 40%;
    height: 100%;
    overflow: hidden;
    overflow-y: scroll;
} 

/* BAR RIGHT */
.upload .show-pane .pane-right .nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    position: relative;
    padding: 0;
}

.nav-list::before {
    content: "";
    background: var(--primary-color);
    position: absolute;
    top: -10px;
    left: 15%;
    height: 2px;
    width: 170px;
    z-index: 1;
}

ul.nav-list {
    margin-top: 50px;
}

.nav-list::after {
    content: "";
    background: var(--footer-text-color);
    position: absolute;
    top: -10px;
    left: 45%;
    right: 15%;
    height: 2px;
}

.nav-list.last::after {
    content: "";
    background: var(--primary-color);
    position: absolute;
    top: -10px;
    left: 45%;
    right: 15%;
    height: 2px;
}

.nav-list li {
    position: relative;
    text-align: center;
    flex: 1;
    height: 0;
}

.nav-list li::before {
    content: attr(data-step);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -20px;
    left: 50%;
    width: 22px;
    height: 22px;
    background-color: #fff;
    border: 2px solid lightgray;
    color: var(--footer-text-color);
    font-size: 15px;
    font-weight: bold;
    border-radius: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.nav-list li.complete::before {
    background-color: var(--primary-color);
    color: white;
    border-color: var(--primary-color);
}

.nav-list li.active::before {
    border-color: var(--primary-color);
    color: var(--primary-color);
}

.nav-list li p {
    margin-top: 5px;
    font-size: 14px;
    color: var(--footer-text-color);
    font-weight: 600;
}

.nav-list li.active p {
    color: var(--primary-color);
    font-weight: bold;
}

.content-2 {
    width: 80%;
    margin: 50px auto 100px;
}

.formLeft input[type="text"],
.formLeft textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    outline: none;
    margin-bottom: 20px;
}

.formLeft select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    margin-bottom: 10px;
    outline: none;
}

.formLeft label {
    display: block;
    margin-bottom: 5px;
}

.formLeft button {
    background-color: var(--primary-color);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
    float:right;
    margin-top: 20px;
}

.content-2.curr {
    display: none;
}
/* END STEP 2 */

/* STEP 3 */
.content-3 {
    position: relative;
    display: none;
}

.content-3.curr {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 50px auto 0;
}

.content-3 .success {
    width: 30%;
    position: absolute;
    right: 0;
    bottom: -10%;
}

#preview-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

#preview-container img {
    max-width: 150px;
    max-height: 150px;
    border: 1px solid #ccc;
    border-radius: 5px;
    object-fit: cover;
}
