@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-size: 14px;
    font-family: "Poppins", serif;
}

/* section nav */
.login-button {
    background-color: #009970;
    color: #fff;
    padding: 8px 20px;
    border-radius: 50px;
    text-decoration: none;
    transition: .3s background-color;
}
.login-button:hover {
    background-color: #00b383;
}

a.cart i {
    font-size: 20px;
    color: #666777;
}

a.sell {
    font-size: 15px;
    color: #666777;
    text-decoration: none;
    font-weight: 500;
    padding-right: 5px;
}

a.sell:hover, a.cart i:hover {
    color: #009970;
}

.line-separate {
    width: 1px;
    height: 15px;
    background-color: #666777;
}

.title-logo {
    font-size: 20px;
    font-weight: 700;
}


.navbar-toggler {
    border: none;
    font-size: 1.25rem;
}

.navbar-toggler:focus, .btn-close:focus {
    box-shadow: none;
    outline: none;
}

a.nav-link {
    color: #666777;
    font-weight: 500;
    font-size: 15px;
    position: relative;
}

a.nav-link:hover, .nav-link.active {
    color: #000;
}

.nav-link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 3px;
    background-color: #009970;
    visibility: hidden;
    transition: .3s ease-in-out;
}

a.nav-link:hover::before, .nav-link.active::before {
    width: 100%;
    visibility: visible;
}

/* section nav */

